.footer__bottom {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 6em 0;
  background: #0f1116;
  color: rgba(255, 255, 255, 0.2) !important;
  text-align: center;
  display: block;
  padding: 3em 0em;
  p {
    font-size: 0.7rem;
  }
  span {
    display: block;
    list-style: none;
  }
}
.social_media_menu {
  cursor: default;
  text-align: center;
  margin: 0 0 2em 0;
  li {
    display: inline-block;
    padding: 0em 0.2em;
    a {
      cursor: pointer;
      text-decoration: none;
      font-weight: 300;
      color: #fff;
      display: inline-block;
      border: 1px solid #828282;
      border: 1px solid #fff;
      width: 2em;
      height: 2em;
      line-height: 2em;
      border-radius: 100%;
      text-align: center;
      position: relative;
      opacity: 0.6;
      transition: 0.3s;
    }
    a:hover {
      opacity: 1;
    }
    i {
      position: absolute;
      top: 7px;
      left: -13px;
      color: #fff;
    }
  }
}
