.footer__bottom {
    // position:  fixed;
    left: 0;
    bottom: 0;
    width: 100%;
      text-align: center;
      padding: 6em 0;
      background: #0f1116;
      color: rgba(255, 255, 255, 0.2) !important;
      text-align: center;
      display: block;
      padding: 3em 0em;
      p {
        font-size: 0.7rem;
      }
    }