@import "../styles/mixins.scss";
.section {
  padding: 2rem 0;
}
.item__wrapp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content_item__container {
  background: #fff;
  border-radius: 6px;
  padding: 2em;
  @include mediaMd {
    adding: 3em 2em;
  }
  @include mediaLg {
    padding: 6em 4em 6em 4em;
  }
  @include mediaXL {
    padding: 6em 4em 6em 4em;
  }
}
