@import "../../styles/mixins.scss";
i {
    
    position: absolute;
    left: 0;
    top: 1em;
    display: block;
    background: none;
    color: #FFF;
    width: 56px;
    height: 56px;
    text-align: center;
    font-size: 3em;
    border-radius: 6px;
}
.iconItem__card {
    position: relative;
    padding: 3em 0em 3em 6em;
    border-top: solid 1px rgba(255, 255, 255, 0.2);
    text-align: left;
    width: 100%;
   
    @include mediaLg {
        width: 50%;

    }
    @include mediaXL {
        width: 50%;

    }

    
    h3 {
    margin-bottom: 0.80em;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2em;
    color: #FFF;
    }
    p {
        line-height: 180%;
        color: #FFF;
        font-weight: 200;
}
}
.section__link {
    color: #d84780;
    text-decoration: underline;
}