@import "../../styles/mixins.scss";
.wrapper {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
.container {
  @include mediaXL {
    width: 1200px;
  }
  @include mediaLg {
    width: 960px;
  }
  @include mediaMd {
    width: 95%;
  }
  @include mediaSm {
    width: 95%;
  }
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  min-height: 80vh;
}
