@import "../../../../styles/mixins.scss";
.section1 {
  padding: 2rem 0;
  text-align: center;
}
.heading_wrapp {
  margin-bottom: 6em;
  color: #fff;
  h1 {
    font-weight: 300;
    @include mediaLg {
      font-size: 1.5em;
    }
    @include mediaXL {
      font-size: 1.75em;
    }
  }
}

.item__wrapp_emulated_flex_gap {
  --gap: 17px;
  display: inline-flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap));
}

.item__wrapp_emulated_flex_gap > * {
  margin: var(--gap) 0 0 var(--gap);
}
