@import "../../styles/mixins.scss";
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #0f1116;
  color: #fff;
  padding: 0.3rem;
  z-index: 100;
  font-size: 100%;
}
.header_logo_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include mediaLg {
    flex-direction: row;
  }
  @include mediaXL {
    flex-direction: row;
  }
}

.logo {
  height: 57px;
  width: 200px;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  margin-bottom: 0;
  h1 {
    font-size: 0.8em;
    margin: 0;
    @include mediaMd {
      font-size: 1em;
    }
    @include mediaLg {
      font-size: 1em;
    }
    @include mediaXL {
      font-size: 1em;
    }
    text-transform: uppercase;
    display: inline;
  }
}

.mobile__header {
  @include mediaSm {
    width: 100%;
    display: block;
    position: relative;
    font-weight: 700;
    text-align: center;
    line-height: 44px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    z-index: 1;
  }
  @include mediaMd {
    width: 100%;
    display: block;
    position: relative;
    font-weight: 700;
    text-align: center;
    line-height: 44px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    z-index: 1;
  }
}
