@import "../../../styles/mixins.scss";
.card__item {
  background: #fff;
  text-align: center;
  border-radius: 0px 0px 6px 6px;
  width: 100%;

  @include mediaSm {
    width: 100%;
  }
  @include mediaMd {
    width: 48%;
  }
  @include mediaLg {
    width: 31%;
  }
  @include mediaXL {
    width: 31%;
  }
}

.item__body {
  padding: 3em 2em;
  background: #fff;
  border-radius: 0px 0px 6px 6px;
}
